{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}
        Life Solver
        {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    {% tailwind_css %}
    {% comment %} <script src="https://cdn.tailwindcss.com"></script> {% endcomment %}

</head>
<body class="bg-[#222426] m-0 p-0 text-white">

  <nav class="fixed top-0 w-full bg-[#181a1b] shadow-md z-50 flex justify-end p-2 ">
        

       {% if user.is_authenticated %}
       <span class="text-white p-4">Welcome, {{ user.username }}!</span>

        <form action="/logout/" method="post" class="inline">
        {% csrf_token %}
        <button type="submit" class="m-2 px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-700 transition cursor-pointer">
            Sign Out
        </button>
    </form>
{% else %}
    <a href="/login/" class="m-2 px-4 py-2 bg-blue-500 text-white rounded hover:bg-green-700 transition cursor-pointer">
        Sign In
    </a>
    <a href="/signup/" class="m-2 px-4 py-2 bg-green-500 text-white rounded hover:bg-green-700 transition cursor-pointer">
        Sign Up
    </a>
{% endif %}

    </nav>

    {% block main %}
    {% endblock %}


    
</body>
</html>